.profile {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  background: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}
.description {
  padding-top: 20px;
  padding-bottom: 20px;
}
.avatar {
  width: 150px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  background: #b6d4ff;
}
.name {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.tag {
  text-align: center;
  font-size: 16px;
}
.location {
  text-align: center;
}
.stats {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  background: #b6d4ff;
}

.label {
  font-size: 14px;
  display: block;
  text-align: center;
  width: 80px;
}
.quantity {
  display: block;
  text-align: center;
  font-weight: 600;
}
