.statistics {
  display: block;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f4f4fd;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 16px;
}
.title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.list {
  display: flex;
}
.item {
  width: 56px;
}
.label {
  font-size: 14px;
  display: block;
  text-align: center;
  font-weight: 500;
  text-shadow: 1px 1px 1px #ffffff;
}
.percentage {
  font-size: 14px;
  display: block;
  text-align: center;
  font-weight: 500;
  text-shadow: 1px 1px 1px #ffffff;
}
