.item {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f4f4fd;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-bottom: 10px;
  position: relative;
}
.online {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
  position: absolute;
  top: 56px;
  left: 56px;
}
.ofline {
  composes: online;
  background: red;
}
.avatar {
  margin-right: 32px;
}
.name {
  font-size: 20px;
  font-weight: 500;
}
